html {
  font-family: 'Roboto Slab', serif;
}
body {
  padding: 0;
  margin: 0;
}
/*navbar*/
.title {
  font-size: 50px;
  line-height: 100px;
  padding-left: 30px;
}
.nav-bar {
  list-style: none;
  padding: 0 50px;
}
.nav-bar ul {
  float: right;
  line-height: 100px;
  margin: 0;
  padding: 0;
  padding-right: 30px;
}
.nav-bar ul li {
  display: inline-block;
  margin: 0 20px;
}
/*MAIN*/
abbr {
  font-style: italic;
}
img {
  object-fit: cover;
  width: 300px;
  height: 300px;
  max-width: 300px;
}
.content {
  padding: 0 50px;
}
.content-list {
  margin: 70px;
  display: flex;
  justify-content: space-evenly;
}
.content-text {
  width: 100%;
  height: 300px;
  max-width: 300px;
}
/*footer*/
.footer-title {
  font-size: 30px;
  line-height: 100px;
  padding-left: 30px;
}
/*links*/
a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: gray;
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color: gray;
  background-color: transparent;
  text-decoration: underline;
}
a:hover {
  color: black;
  background: linear-gradient(90deg, red, orange, yellow, green, blue, purple);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: 500ms ease;
}
/*tech blog page*/
.tech-blog-img img{
  object-fit: fill;
}
.blog-content {
width: 50%;
margin: 0 auto;
padding: 30px 0;
}
.blog-content-img {
  object-fit: contain;
  display: flex;
  margin: 0 auto;
  max-width: 300px;
  width: 100%;
}
/*cat*/
.cat {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: fixed;
  bottom: 10px;
  right: 10px;
  opacity: 85%;
}
/*responsive*/
@media (max-width: 521px) {

.nav-bar ul li {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
}
@media (max-width: 900px) {
.title {
  font-size: 50px;
  line-height: 200px;
  display: flex;
  justify-content: center;
  padding-left: 0;
}
.nav-bar ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  line-height: 100px;
  margin: 0;
  padding: 0;
  width: 100%;
  padding-bottom: 50px;
}
.nav-bar ul li {
  justify-content: center;
}
.content {
  padding: 10px;
  margin: 10px;
}
.content-list {
  flex-wrap: wrap;
  margin: 5vh;
  display: flex;
  justify-content: space-evenly;
  
}
.content-text {
  height: 150px;
}
.footer-title {
  font-size: 50px;
  line-height: 200px;
  display: flex;
  justify-content: center;
  padding-left: 0;
}
.img {
  margin: 20px;
}
}